name: Release

on:
  push:
    tags: ["v*"]

jobs:
  build:
    name: Build distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - name: Install build
        run: python3 -m pip install build --user
      - name: Build wheel and sdist
        run: python3 -m build
        env:
          SETUPTOOLS_SCM_PRETEND_VERSION: ${{ github.ref_name }}
      - name: Store distribution packages
        uses: actions/upload-artifact@v5
        with:
          name: python-package-distributions
          path: dist/

  github-release:
    name: Create GitHub Release
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Build Changelog
        id: changelog
        uses: mikepenz/release-changelog-builder-action@v5
        with:
          mode: "COMMIT"
          configuration: ".github/changelog-config.json"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Download distributions
        uses: actions/download-artifact@v5
        with:
          name: python-package-distributions
          path: dist/
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ github.ref_name }}
          body: ${{ steps.changelog.outputs.changelog }}
          files: dist/*

  publish-to-pypi:
    name: Publish to PyPI
    needs: [build, github-release]
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/aep_parser
    permissions:
      id-token: write
    steps:
      - name: Download distributions
        uses: actions/download-artifact@v5
        with:
          name: python-package-distributions
          path: dist/
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
